/******about-start**********/

@media (max-width: 1400px) {

    .img-overlap {
        position: relative;
        top: 8vh;
        left: 0;
    }
    .blob-img {
        position: absolute;
        top: -11vh;
        left:  -5vw;
    }

  }


  @media (max-width: 991px) {

    .img-overlap {
        position: relative;
        top: 1vh;
        left: 5vw;
    }
    .blob-img {
        position: absolute;
        top: -11vh;
        left:  -5vw;
    }


  }

  @media (max-width: 768px) {

    .img-overlap {
        position: relative;
        top: 1vh;
        left: 0;
    }
    .blob-img {
        position: absolute;
        top: 1vh;
    }
    
  }

  @media (max-width: 575px) {
    .img-overlap {
        position: relative;
        top: 0;
        left: 0;
    }

    .blob-img {
        position: absolute;
        top: 1vh;
    }

  }

/*about-end*/







@media (max-width:600px){
    
#header {
    flex-direction: column;
    align-items: flex-start;
    height: 10em;
    }

    nav {
    margin-top: 10px;
    }

    nav ul {
    flex-direction: column;
    }

    nav li {
    margin-right: 0;
    margin-bottom: 10px;
}


/********Main Start***************/
#page1{
    /* background-color: aqua; */
/* margin-top: 20px; */
background: url(../images/n1.png);
height: 30vh;
background-repeat: no-repeat;
background-size: 100% 100%;
animation: changeImage 20s /*duration timing-function*/ 2s ease infinite;

}

/* Added keyframes for sliding animation */

@keyframes changeImage {
0%{
    background: url(../images/n1.png) no-repeat;
    background-size: 100% 100%;
}
50%{
    background: url(../images/page1_img2.jpg) no-repeat;
    background-size: 100% 100%;
}
100%{
    background: url(../images/page1_img3.jpg) no-repeat;
    background-size: 100% 100%;
}
}


#page1 h1{
font-size: 2.5rem;
letter-spacing: -2px;
line-height: 6vh;
position: absolute;
/* border: 6px solid rgb(0, 0, 0);  */
padding-right: 18vw;
background:linear-gradient(to right , rgb(255, 255, 255),#ff9999 45%, #ffffff);
background-size: 150% auto;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: gradient 2s linear infinite;
}

@keyframes gradient{
0%{background-position:0% 75%;}
50%{background-position:100% 50%;}
100%{background-position:0% 70%;}

}

/*animation*/

#page1 .typing-container {
/* margin: 100px auto; */
padding-top: 17vh;
width: 90%;
text-align: left;
}

#page1 .typing-text {
font-size: 2.5rem;
/* color: #333; */
background:linear-gradient(to left , rgb(255, 255, 255),#000000 35%, #ffffff);
background-size: 200% auto;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: gradient 2s linear infinite;


border-right: 2px solid #333; /* Cursor effect */
white-space: nowrap; /* Prevent text wrapping */
overflow: hidden; /* Hide overflow text */
/* animation: typing 10s steps(10, end); Typing animation */
}

@keyframes typing {
from {
    width: 0;
}
to {
    width: 100%;
}
}

/*********end********/



/*****all heading start*******/



.section-title{
    text-align: center;
    padding: 40px 0;
    position: relative;
    }

    .section-title h2 {
    padding-top: 1px;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
    padding-bottom: 0;
    color: #1a0101;
    position: relative;
    z-index: 2;
    }

    .section-title span {
    position: absolute;
    top: 50px;
    color: #e2e4ea;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 42px;
    text-transform: uppercase;
    line-height: 0;
    }

    .section-title p {
    font-size: 20px;
    margin-bottom: 0;
    position: relative;
    z-index: 2;
}

/******all heading end********/

/********properties start*********/
#page3{
    background-color: #eef4eeb8;
    height: 70vh;
    /* display: flex; */
    }


    .box {
    /* border: 5px solid black; */
    height: 10vh;
    width: 100%;
    border-radius: 20%;
    }

    .swiper {
    width: 100%;
    height: 50vh;
    }

    .swiper-slide {
    text-align: center;
    font-size: 25px;
    background: #e2ebe9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 18%;
    }

    .swiper-slide img {
    display: block;
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

/********properties end**************/


/********amenities start***********/

#page4{
    
    background-color: #eef4eeb8;
    height: 120vh;
    }

    .amenities-list{
    /* border: 1px solid black; */
    height: 70vh;
    width: 100%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;   
    justify-content: space-around;
    align-items: center;
    }

    .icons{
    height: 25vh;
    border-radius: 40px;
    flex-basis: 50%;
  
    }
    .amenities-list  #gym:hover{
    
    cursor: pointer;
    }

    .amenities-list  #swim:hover{
    cursor: pointer;
    }

    .amenities-list  #security:hover{
    cursor: pointer;
    }

    .amenities-list  #temple:hover{
    cursor: pointer;
    }

    .amenities-list  #club:hover{
    cursor: pointer;
    }

    .amenities-list  #electricity:hover{
    cursor: pointer;
    }

    .amenities-list  #free-wifi:hover{
    cursor: pointer;
    }

    .amenities-list  #reservation:hover{
    cursor: pointer;
}


/********amenities end************/


#page5{
    background-color: #eef4eeb8;
    height: 60vh;
    /* display: flex; */
}







.contact-container {
        flex-direction: column;
    }

    .contact-form, .contact-details {
        margin-bottom: 20px;
}    
    
    
    
/******Footer Start*************/
#footer {
        background-color: #333;
        height: 28em;
        color: #fff;
        padding: 30px 0;
    }
    
    
    .footer-container {
        flex-direction: column;
    }

    .footer-column {
        margin-right: 0;
        margin-bottom: 20px;
    }

    /******Footer End*************/



}