*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}

*::selection{
    color: #fff;
    background: rgb(88, 15, 141);
}



/********Header Start*********************/

#header {

    height: 3em;
    align-items: center;
    margin-top: 30px;
    display: flex;
    font-family: 'Kanit', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Ysabeau Infant', sans-serif;
    justify-content: space-between;
}



nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffcc00;
}

/********Header End*********************/

/********Main Start***************/
#page1{
        /* background-color: aqua; */
    margin-top: 20px;
    background: url(../images/page1_img1.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation: changeImage 5s /*duration timing-function*/ 2s ease infinite;
    
}

/* Added keyframes for sliding animation */

@keyframes changeImage {
    0%{
        background: url(../images/page1_img1.jpg) no-repeat;
        background-size: 100% 100%;
    }
    50%{
        background: url(../images/page1_img2.jpg) no-repeat;
        background-size: 100% 100%;
    }
    100%{
        background: url(../images/page1_img3.jpg) no-repeat;
        background-size: 100% 100%;
    }
}

#estate{
    padding: 3vw 2vw;
    background-color: #000000;
    color: #fff;
    font-size: 1vw;
    position: fixed;
    text-transform: uppercase;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}

#page1 #estate1{
    padding: 3vw 2vw;
    background-color: #c9bf0a;
    color: #fff;
    font-size: 1vw;
    position: fixed;
    text-transform: uppercase;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}


#page2 #estate2{
    padding: 3vw 2vw;
    background-color: #c90a14;
    color: #fff;
    font-size: 1vw;
    position: fixed;
    text-transform: uppercase;
    border-radius: 50%;
    opacity: 0;
    scale: 0;
}







#page2{
    /* padding-top: 5px; */
    height: 130vh;
    background-color: #eef4eeb8;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: grid;
    /* margin: 0;
    padding: 0; */
    }

    #page2 .about-us img{
    /* height: 50px; */
    /* width: 50px; */
    position: absolute;
    /* padding-bottom: 30em; */
    

   }

#my-image {
    background-color: transparent;
    width: 500px;
    height: 500px;
    margin-top: -20px;
    margin-left: 60px;
    
    
}

/* 
    .about-us img{
    transition: 1s ease;
    }
    
    .about-us img:hover{
    -webkit-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
    transition: 1s ease;
    } */
    
    #page2 .container {
    height: 90vh;
    width: 100%;
    /* margin:  auto; */
    padding-left: 45vw;
    /* padding-top: 0vh; */
    }

    #page2 h2 {
    color: #333;
    }

    #page2 p {
    line-height: 1.6;
    margin-bottom: 15px;
}

.section-title {

    text-align: center;
    padding: 50px 0;
    position: relative;
}

.section-title h2 {
    padding-top: 1px;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
    padding-bottom: 0;
    color: #1a0101;
    position: relative;
    z-index: 2;
}

.section-title span {
    position: absolute;
    top: 50px;
    color: #e2e4ea;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 62px;
    text-transform: uppercase;
    line-height: 0;
}

.section-title p {
    font-size: 25px;
    margin-bottom: 0;
    position: relative;
    z-index: 2;
}






#page3{
    background-color: #eef4eeb8;
    height: 120vh;
    /* display: flex; */
}


.box {
    /* border: 5px solid black; */
    height: 10vh;
    width: 100%;
    border-radius: 20%;

}

.swiper {
    width: 100%;
    height: 80vh;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #c9ece4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 18%;
}

.swiper-slide img {

    display: block;
    width: 100%;
    height: 50%;
    object-fit: cover;
}




#page4{
    background-color: #eef4eeb8;
    height: 100vh;
}

#page5{
    background-color: #eef4eeb8;
    height: 100vh;
}

/********Contact start*****************************/

.contact-section {
    background-color: #eef4eeb8;
    padding: 50px 0;
    height: 95vh;
}

.contact-container {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
}

.contact-form {
    flex: 2;
    padding: 30px;
    /* margin-top: 50px; */
    margin-bottom: 120px;
    margin-left: 40px;
    background-color: #a6b7ab;
    justify-content: space-around;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.contact-details {
    flex: 1;
    padding: 53px; /*Added margin and padding before only padding of 20px*/
    margin: 40px ;
    margin-left: 120px;
    justify-content: space-around;
    background-color: #b3cfbc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.contact-form h2, .contact-details h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 1px;
}

input, textarea {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
}

button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(52, 114, 74);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #000000;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

button:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    color: #ffffff;
}

button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

/*******Contact End*************************/


/*******Footer Start***********/

#footer {
    background-color: #333;
    height: 50vh;
    /* width: 100%; */
    color: #fff;
    padding: 30px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 7vh;
}

.footer-column {
    flex: 1;
    margin-right: 20px;
}

.footer-column h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.footer-column p {
    margin-bottom: 15px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column a {
    text-decoration: none;
    color: #fff;
    display: block;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.footer-column a:hover {
    color: #ffcc00;
}


#footer .footer-row .social-links {
    margin-top: 10px;
  }
  #footer .footer-row .social-links img {
    padding: 1px ;
    width: 60px;
    transition: 0.3s;
  }


  #footer .footer-bottom {
    border-top: 3px solid #912583;
    /* z-index: 2; */
    position: relative;
    padding-top: 2vh;
    /* float: initial; */
  }


  #footer .copyright {
    font-size: 20px;
    text-align: center;
    /* padding-bottom: 10px; */

  }



/****Footer End******/